<h1>About Us</h1>
<p>This is my initial project from the <%= link_to "One Month Rails", "http://onemonthrails.com" %> Tutorial. After completion, this project will serve as a template for my next project, a photo sharing site influenced by 
	<%= link_to "Photobucket", "http://photobucket.com" %>, 
	<%= link_to "Instagram", "http://instagram.com" %>, 
	and <%= link_to "Pinterest", "http://pinterest.com" %>!
</p>